<clr-vertical-nav [clrVerticalNavCollapsible]="true">

  <a
    clrVerticalNavLink
    [title]="'MENU.KUBEVIEW' | translate"
    href="/bhoverview/"
    target="_blank"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="network-switch"></clr-icon>
    {{'MENU.KUBEVIEW' | translate}}
  </a>
  <a
    clrVerticalNavLink
    [title]="'MENU.DEPARTMENT' | translate"
    routerLink="/portal/namespace/{{cacheService.currentNamespace?.id}}/overview"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="help-info"></clr-icon>
    {{'MENU.DEPARTMENT' | translate}}
  </a>
  <div class="nav-divider"></div>
  <a
    clrVerticalNavLink
    [title]="'MENU.KUBEAPPS' | translate"
    href="/bhappcatalog/#/apps/ns/default"
    target="_blank"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="blocks-group"></clr-icon>
    {{'MENU.KUBEAPPS' | translate}}
  </a>
  <a
    clrVerticalNavLink
    [title]="'MENU.PRODUCT' | translate"
    routerLink="/portal/namespace/{{cacheService.currentNamespace?.id}}/app"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="applications"></clr-icon>
    {{'MENU.PRODUCT' | translate}}
  </a>
  <a
    clrVerticalNavLink
    [title]="'MENU.LOG' | translate"
    href="/bhlogger/app/logtrail#/?q=kubernetes.container.name:httpbin&h=All&t=Now&i=filebeat-*&_g=()"
    target="_blank"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="clock"></clr-icon>
    {{'MENU.LOG' | translate}}
  </a>
  <!--<a-->
    <!--clrVerticalNavLink-->
    <!--title="APIKeys"-->
    <!--routerLink="/portal/namespace/{{cacheService.currentNamespace?.id}}/apikey"-->
    <!--routerLinkActive="active"-->
    <!--*ngIf="this.authService.config['enableApiKeys'] && (authService.currentNamespacePermission.apiKey.read || authService.currentUser.admin)">-->
    <!--<clr-icon clrVerticalNavIcon shape="key"></clr-icon>-->
    <!--APIKeys-->
  <!--</a>-->
  <!--<a-->
    <!--clrVerticalNavLink-->
    <!--title="Webhooks"-->
    <!--routerLink="/portal/namespace/{{cacheService.currentNamespace?.id}}/webhook"-->
    <!--routerLinkActive="active"-->
    <!--*ngIf="authService.currentNamespacePermission.webHook.read || authService.currentUser.admin">-->
    <!--<clr-icon clrVerticalNavIcon shape="pin"></clr-icon>-->
    <!--Webhooks-->
  <!--</a>-->
  <div class="nav-divider" ></div>
  <a
    clrVerticalNavLink
    [title]="'MENU.PROMETHEUS' | translate"
    href="/bhprometheus/"
    target="_blank"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="network-globe"></clr-icon>
    {{'MENU.PROMETHEUS' | translate}}
  </a>
  <a
    clrVerticalNavLink
    [title]="'MENU.GRAFANA' | translate"
    href="/bhgrafana/"
    target="_blank"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="image-gallery"></clr-icon>
    {{'MENU.GRAFANA' | translate}}
  </a>
  <a
    clrVerticalNavLink
    [title]="'MENU.ALTERMANATER' | translate"
    href="/bhalertmanager/#/alerts"
    target="_blank"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="bell"></clr-icon>
    {{'MENU.ALTERMANATER' | translate}}
  </a>
  <a
    clrVerticalNavLink
    [title]="'MENU.SKYWALKING' | translate"
    href="http://172.20.27.219:15082/#/monitor/dashboard"
    target="_blank"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="vmw-app"></clr-icon>
    {{'MENU.SKYWALKING' | translate}}
  </a>
  <div class="nav-divider" ></div>
  <a
    clrVerticalNavLink
    [title]="'MENU.MEMBER' | translate"
    *ngIf="authService.currentNamespacePermission.namespaceUser.read || authService.currentUser.admin"
    routerLink="/portal/namespace/{{cacheService.currentNamespace?.id}}/users"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
    {{'MENU.MEMBER' | translate}}
  </a>
  <a
    clrVerticalNavLink
    [title]="'MENU.OLDDASHBOARD' | translate"
    href="/bhdashboard/"
    target="_blank"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="vmw-app"></clr-icon>
    {{'MENU.OLDDASHBOARD' | translate}}
  </a>
  <a href="javascript:;" style="flex: 1;"></a>
  <wayne-footer></wayne-footer>
</clr-vertical-nav>
